---
interface Props {
    recipes: any[];
}

const block = Astro.props;
---
<ul class="grid gap-4 md:grid-cols-3">
    {
        block.recipes.map((recipe) => {
            return (
                <li class="border border-black p-2 flex flex-col items-center gap-4 text-center">
                    {/* <img class="max-w-[200px] rounded-full" src={recipe.data.thumbnail}>  */}
                    <a href={`/recipes/${recipe.slug}`}>{recipe.data.title}</a>
                    <div class="text-xs flex flex-wrap gap-2">
                        {
                            recipe.data.tags.map((tag: string) => {
                                return (
                                    <p class="bg-indigo-300 p-1">{tag}</p>
                                )
                            })
                        }
                    </div>
                </li>
            )
        })
    }
</ul>